/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.3
 */
pre {
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    word-wrap: break-word;
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 3px 0px #EBEBEB;
}

code {
    margin: 0px 2px;
    padding: 0px 5px;
    font-family: Monaco, Consolas, Menlo, 'Liberation Mono', Courier, monospace !important;
}

pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

pre, code {
    color: #5E5E5E;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

pre, pre code {
    font-size: 12px;
}

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: #796180;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
    color: #736054;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #6794C2;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, pre .entity.function {
    color: #CF673E;
}

pre .attribute, pre .variable {
    color: #6794C2;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #AD6A50;
}

pre .regexp {
    color: #009926;
}

pre .constant.language {
    font-weight: bold;
    color: #6794C2;
}