
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
@import url(http://fonts.googleapis.com/css?family=Capriola);
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/u-WUoqrET9fUeobQW7jkRbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

* {
  margin: 0px;
  padding: 0px;
  
}

body {
  padding-bottom: 60px;
  font-family: 'Helvetica Neueu', Helvetica;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 20px 130px;
  box-sizing: border-box;
  -moz-transition: border-bottom 1s, box-shadow 1s, background-color 0.7s;
  -o-transition: border-bottom 1s, box-shadow 1s, background-color 0.7s;
  -ms-transition: border-bottom 1s, box-shadow 1s, background-color 0.7s;
  -webkit-transition: border-bottom 1s, box-shadow 1s, background-color 0.7s;
  transition: border-bottom 1s, box-shadow 1s, background-color 0.7s;
}

header.bordered {
  background-color: rgba(255,255,255, 0.90);
  border-bottom: 1px solid #F7F7F7;
  box-shadow: 0px 0px 12px 1px rgba(10,10,10, 0.4);
}

header h1 {
  display: inline-block;
  font-size: 28px;
}

header nav {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 150px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-left: 30px;
  font-family: 'Duru Sans';
  font-size: 12px;
  border-right: 1px solid #EEEEEE;
  padding-right: 30px;
  color: #333333;
}

header nav ul li:hover {
  cursor: pointer;
  color: #8C7294;
}

header nav ul li.active {
  color: #8C7294;
}

header nav ul li.end {
  border: none;
}

section#content {
  max-width: 900px;
  padding: 0px 150px 0px 150px;
}

h1 {
  font-family: 'Duru Sans';
  font-size: 40px;
  margin-bottom: 10px;
  color: #796180;
}

h2 {
  color: #6C79A1;
}

h3 {
  color: #5E5E5E;
}

h4 {
  color: #5E5E5E;
}

section#content {
  padding-top: 180px;
}

#content p {
  color: #5E5E5E;
}

#hero {
  margin-top: 220px;
}

/*  HOME  */

div#hero #in-yo-face {
  width: 680px;
  margin-right: 100px;
  margin-bottom: 60px;
}

div#hero #in-yo-face .logo {
  max-width: 385px;
  display: inline-block;
}

div#hero #in-yo-face .logo h1 {
  
}

div#hero #in-yo-face .logo h2 {
  width: 385px;
  font-size: 24px;
  font-weight: lighter;
  line-height: 36px;
  color: #78717A;
  font-family: 'Open Sans';
}

div#hero #in-yo-face .download {
  vertical-align: top;
  display: inline-block;
  margin-left: 50px;
  margin-top: 40px;
}

div#hero #in-yo-face .download .button {
  padding: 10px 14px;
  border: 1px solid #78667D;
  border-radius: 5px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: whitesmoke;
  line-height: 16px;
  box-shadow: 1px 1px 3px 0px #B3B3B3, inset 0px 1px 1px 0px rgba(255,255,255, 0.4);
  background-color: #827785;
  text-shadow: 1px 1px 1px rgba(255,255,255, 0.2);
  -webkit-transition: -webkit-transform 0.05s, box-shadow 0.05s;
  -moz-transition: -moz-transform 0.05s, box-shadow 0.05s;
  -o-transition: -o-transform 0.05s, box-shadow 0.05s;
  -ms-transition: -ms-transform 0.05s, box-shadow 0.05s;
  transition: transform 0.05s, box-shadow 0.05s;
}

div#hero #in-yo-face .download .button:active {
  box-shadow: 0px 0px 3px 0px #B3B3B3, inset 0px 1px 1px 0px rgba(255,255,255, 0.2);
  -webkit-transform: translate(1px, 1px);
  -moz-transform: translate(1px, 1px);
  -o-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
}

div#hero #in-yo-face .download .alternatives {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}

div#hero #in-yo-face .download .alternatives .size {
  border-right: 1px solid #DEDEDE;
  padding-right: 5px;
  color: #8A8A8A;
}

div#hero #in-yo-face .download .alternatives .dev {
  color: #C9AF3A;
  padding-left: 5px;
  font-weight: bold;
}

div#hero #highlights {
  display: inline-block;
  vertical-align: top;
}

div#hero #highlights ul.features {
  list-style-type: none;
}

div#hero #highlights ul.features li.feature {
  display: inline-block;
  vertical-align: top;
  margin-right: 33px;
  margin-bottom: 20px;
  max-width: 260px;
}

div#hero #highlights ul.features li.feature h1 {
  font-family: 'Capriola';
  font-size: 16px;
  margin-bottom: 10px;
  color: #68576E;
}

div#hero #highlights ul.features li.feature p {
  font-size: 13px;
  line-height: 23px;
  font-family: 'Open Sans';
  color: #696969;
}

.caution {
  background-image: url('./gfx/caution.png');
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 19px;
}

/*  HOME  */



footer {
  position: absolute;
  width: 100%;
  background: white;
  color: #ADADAD;
  font-size: 12px;
  padding: 50px 0px;
  margin-top: 40px;
}

footer.index {
  bottom: 0px;
}

footer .credits {
  width: 400px;
  margin: 0px 0px 0px 150px;
  line-height: 30px;
}

footer .credits .gorillatron {
  color: #CF6538;
  font-family: "Capriola";
}

footer .credits .wtw img {
  margin-bottom: -2px;
  margin-left: 6px;
}
