
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
@import url(http://fonts.googleapis.com/css?family=Capriola);
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/u-WUoqrET9fUeobQW7jkRbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

* {
  margin: 0px;
  padding: 0px;
  
}

body {
  padding-bottom: 60px;
  font-family: 'Helvetica Neueu', Helvetica;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
}

header {
  padding: 20px 30px;
}

header nav ul {
  list-style-type: none
}

header nav ul li {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-left: 30px;
  font-family: 'Duru Sans';
  font-size: 12px;
  border-right: 1px solid #EEEEEE;
  padding-right: 30px;
  color: #333333;
}

header nav ul li:hover {
  cursor: pointer;
  color: #8C7294;
}

header nav ul li.end {
  border: none;
}

section#content {
  max-width: 900px;
  padding: 0px 150px 0px 150px;
}

#content h1 {
  font-family: 'Duru Sans';
  font-size: 40px;
  margin-bottom: 10px;
  color: #796180;
}

#content h2 {
  color: #6C79A1;
}

#content h3 {
  color: #C9AF3A;
}

#content p {
  color: #525252;
}

#hero {
  margin-top: 220px;
}

/*  HOME  */

div#hero #in-yo-face {
  width: 680px;
  margin-right: 100px;
  margin-bottom: 60px;
}

div#hero #in-yo-face .logo {
  max-width: 385px;
  display: inline-block;
}

div#hero #in-yo-face .logo h1 {
  
}

div#hero #in-yo-face .logo h2 {
  width: 385px;
  font-size: 24px;
  font-weight: lighter;
  line-height: 36px;
  color: #78717A;
  font-family: 'Open Sans';
}

div#hero #in-yo-face .download {
  vertical-align: top;
  display: inline-block;
  margin-left: 50px;
  margin-top: 40px;
}

div#hero #in-yo-face .download .button {
  padding: 10px 14px;
  border: 1px solid #78667D;
  border-radius: 5px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: whitesmoke;
  line-height: 16px;
  box-shadow: 1px 1px 3px 0px #B3B3B3, inset 0px 1px 1px 0px rgba(255,255,255, 0.4);
  background-color: #827785;
  text-shadow: 1px 1px 1px rgba(255,255,255, 0.2);
  -webkit-transition: -webkit-transform 0.05s, box-shadow 0.05s;
  -moz-transition: -moz-transform 0.05s, box-shadow 0.05s;
  -o-transition: -o-transform 0.05s, box-shadow 0.05s;
  -ms-transition: -ms-transform 0.05s, box-shadow 0.05s;
  transition: transform 0.05s, box-shadow 0.05s;
}

div#hero #in-yo-face .download .button:active {
  box-shadow: 0px 0px 3px 0px #B3B3B3, inset 0px 1px 1px 0px rgba(255,255,255, 0.2);
  -webkit-transform: translate(1px, 1px);
  -moz-transform: translate(1px, 1px);
  -o-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
}

div#hero #in-yo-face .download .alternatives {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}

div#hero #in-yo-face .download .alternatives .size {
  border-right: 1px solid #DEDEDE;
  padding-right: 5px;
  color: #8A8A8A;
}

div#hero #in-yo-face .download .alternatives .dev {
  color: #C9AF3A;
  padding-left: 5px;
  font-weight: bold;
}

div#hero #highlights {
  display: inline-block;
  vertical-align: top;
}

div#hero #highlights ul.features {
  list-style-type: none;
}

div#hero #highlights ul.features li.feature {
  display: inline-block;
  vertical-align: top;
  margin-right: 33px;
  margin-bottom: 20px;
  max-width: 260px;
}

div#hero #highlights ul.features li.feature h1 {
  font-family: 'Capriola';
  font-size: 16px;
  margin-bottom: 10px;
  color: #68576E;
}

div#hero #highlights ul.features li.feature p {
  font-size: 13px;
  line-height: 23px;
  font-family: 'Open Sans';
  color: #696969;
}

/*  HOME  */


/*  GUIDE  */


#content.guide h1 {
  font-family: 'Duru Sans';
  font-size: 22px;
  margin-top: 100px;
  margin-bottom: 20px;
}

#content.guide h2 {
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 17px;
  margin-top: 40px;
}

#content.guide h3 {
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: 17px;
  margin-top: 40px;
}

#content.guide p {
  font-size: 13px;
  line-height: 28px;
  font-family: 'Open Sans';
  margin-bottom: 15px;
}

#content.guide ul {
  color: #525252;
  padding-left: 20px;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 28px;
}

#content.guide ul li {
  margin: 10px 0px;
}


#content.guide .dir-layout {
  line-height: 22px;
  font-size: 14px;
  font-family: 'Open Sans';
}

#content.guide .dir-layout .dir {
  padding-left: 25px;
  margin: 5px 0px;
  color: #8C755B;
  font-weight: bold;
  border-left: 1px solid #F2F2F2;
}

#content.guide .dir-layout .file {
  padding-left: 25px;
  margin: 5px 0px;
  font-weight: normal;
}

#content.guide .dir-layout .file.js {
  padding-left: 25px;
  margin: 5px 0px;
  color: #DE7197;
}

#content.guide .dir-layout .file.html {
  padding-left: 25px;
  margin: 5px 0px;
  color: #9EAB71;
}
#content.guide .dir-layout .file.desc {
  padding-left: 25px;
  margin: 5px 0px;
  color: #BDBDBD;
  font-weight: thinner;
  font-style: italic;
}

/*  GUIDE  */



footer {
  position: absolute;
  width: 100%;
  background: white;
  color: #616161;
  font-size: 12px;
  padding: 15px 0px 15px 0px;
}

footer.index {
  bottom: 0px;
}

footer .credits {
  width: 400px;
  text-align: center;
  margin: 0px auto 0px auto;
  line-height: 30px;
}

footer .credits .gorillatron {
  color: #CF6538;
  font-family: "Capriola";
}

footer .credits .wtw img {
  margin-bottom: -2px;
  margin-left: 6px;
}
